
<div id="main" class="d-flex flex-column align-items-center justify-content-end">


  <ng-container class="flex-grow-1" *ngIf="!carica else alternativo">
    <ng-container  *ngIf="!isEmpty() else vuota">
  <div id="lista" *ngFor="let todo of todos">
    <ng-container *ngIf="!isCurrent(todo) else charge">
      <div class="card my-3" *ngIf="todo && !todo.completed">
        <div class="card-body">
          <div class="d-flex align-items-center w-100 justify-content-between">
          <h4 class="card-title">{{todo.title}}</h4>
          <button (click)="action2(todo)">
            <img class="img-fluid w-100" src="../../../assets/img/check.svg"/>
          </button>
        </div>
        </div>
      </div>
    </ng-container>
    <ng-template #charge>
      <h4 class="w-100 text-center">Caricamento dati attendere...</h4>
    </ng-template>
    </div>
  </ng-container>
  <ng-template #vuota>
    <h1>Opps, non ci sono task!</h1>
  </ng-template>
    <div id="form" class="d-flex">
      <input type="text" class="form-control my-4" [title]="title" [(ngModel)]="title"/>
      <button (click)="action1()">
        <img class="img-fluid w-100" src="../../../assets/img/add.svg"/>
      </button>
    </div>

  </ng-container>
  <ng-template #alternativo>
    <h1>Recupero Task...</h1>
  </ng-template>
</div>
